src/*.exe
src/altcoin
src/altcoind
src/test_altcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.altcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
altcoin-qt
Altcoin-Qt.app

# Unit-tests
Makefile.test
altcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
